.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  font-size: calc(10px + 2vmin);
  color: white;
  background-position: center;
  background-image: url(/big-graphic.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}

.side-piece {
  font-size: 18px;
  margin: 0 0 32px 55%;
  padding: 18px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.4);
  width: 30%;
}
a {
  color: #f008d4;
}
a:hover {
  color: #f008d4;
}
a:visited {
  color: #f008d4;
}
a:active {
  color: #f008d4;
}